In [71]:
#%cd /Users/mchladek/Dev/article-tagging/lib/tagnews/

from req_file import load_all_data, download_data
import pandas as pd
import numpy as np
import datetime

SET GLOBAL VARIABLES

In [72]:
CATEGORY_RELEVANCE_MIN = 0.85

LOAD DATA

In [73]:
#%cd /Users/mchladek/Dev/chicago-justice-data/

newssource_df, articles_df, categories_df, trainedcategoryrelevance_df, trainedcoding_df, usercoding_df,  usercoding_categories_df, trainedlocation_df, trainedsentiment_df, trainedsentimententities_df = load_all_data()

news sources loaded. size: (38, 4)

C:\Users\sukes\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3418: DtypeWarning: Columns (1,3,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

articles loaded. size: (870207, 11)
categories loaded. size: (40, 6)
trainedcategoryrelevance loaded. size: (1885399, 4)
trainedlocation loaded. size: (490118, 8)
trainedcoding loaded. size: (870207, 8)
usercoding loaded. size: (293445, 7)
usercoding_categories loaded. size: (158380, 3)
trainedsentiment loaded. size: (12660, 4)
trainedsentimententities loaded. size: (69610, 6)

### Looking into the Data - Practicum student code

In [74]:
newssource_df.head()

   source_id         source_name          short_name legacy_feed_id
0         97             Unknown             unknown            NaN
1         98           ABC Local           abc-local              A
2         99  Beachwood Reporter  beachwood-reporter              C
3        100           CBS Local           cbs-local              L
4        101    Chicago Defender    chicago-defender              D

In [75]:
articles_df.head()

,id,feedname,url,orig_html,title,bodytext,relevant,created,last_modified,news_source_id,author
0,241693,V,http://www.windycitymediagroup.com/lgbt/New-Te...,NaN,"New Tegan and Sara songs out, album soon",_2016-04-19\n\n_\n\n \nIn anticipation of the...,t,2016-04-18 18:48:27.424333+00,2016-05-02 19:01:17.308201+00,116,NaN
1,241694,V,http://www.windycitymediagroup.com/lgbt/Upcomi...,NaN,"Upcoming: Bollywood dance, JD Glass concert, M...",_2016-04-19\n\n_\n\n \n**Mary Lambert at NU A...,t,2016-04-18 18:48:29.133178+00,2016-05-02 19:01:16.776184+00,116,NaN
2,241695,V,http://www.windycitymediagroup.com/lgbt/Loyola...,NaN,Loyola's Swoopes under investigation,_2016-04-19\n\n_\n\n \nChicago's Loyola Unive...,t,2016-04-18 18:48:31.174059+00,2016-05-02 19:01:16.755425+00,116,NaN
3,241697,V,http://www.windycitymediagroup.com/lgbt/Upcomi...,NaN,Upcoming: Chicago House spring brunch. Garden ...,_2016-04-19\n\n_\n\n \n**Chicago House's annu...,t,2016-04-18 18:48:34.613793+00,2016-05-02 19:01:16.721185+00,116,NaN
4,241698,V,http://www.windycitymediagroup.com/lgbt/Cradle...,NaN,"Cradles to Crayons expands into Chicago, names...","_2016-04-18\n\n_\n\n \nBRIGHTON, MAApril 18, ...",t,2016-04-18 18:48:36.449012+00,2016-05-02 19:01:16.770246+00,116,NaN

In [76]:
articles_df.tail()

,id,feedname,url,orig_html,title,bodytext,relevant,created,last_modified,news_source_id,author
870202,241687,V,http://www.windycitymediagroup.com/lgbt/BENT-N...,NaN,BENT NIGHTS Eli 'Paperboy' Reed; Chairlift,_by Vern Hester\n\n__2016-04-19\n\n_\n\n \nBW...,t,2016-04-18 18:48:16.470779+00,2016-05-02 19:01:17.313529+00,116,NaN
870203,241688,V,http://www.windycitymediagroup.com/lgbt/Joffre...,NaN,Joffrey announces 'Nutcracker' team',_by Lauren Warnecke\n\n__2016-04-19\n\n_\n\n ...,t,2016-04-18 18:48:18.146387+00,2016-05-02 19:01:17.369347+00,116,NaN
870204,241689,V,http://www.windycitymediagroup.com/lgbt/Dining...,NaN,"Dining news: Bar Toma patio event, Autre marks...","_by Andrew Davis, Windy City Times\n\n__2016-0...",t,2016-04-18 18:48:19.761211+00,2016-05-02 19:01:17.299547+00,116,NaN
870205,241690,V,http://www.windycitymediagroup.com/lgbt/World-...,NaN,"World news: South Korea, MSMGF recommendations...","_by Andrew Davis, Windy City Times\n\n__2016-0...",t,2016-04-18 18:48:21.859783+00,2016-05-02 19:01:16.014789+00,116,NaN
870206,242020,O,http://www.chicagonow.com/cinemajaw-movies/201...,NaN,Female Superheroes in the Movies | CinemaJaw: ...,## Female Superheroes in the Movies\n\n![][1]...,t,2016-04-19 18:57:42.817437+00,2016-05-03 19:01:36.304067+00,104,NaN

In [77]:
articles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 870207 entries, 0 to 870206
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              870207 non-null  int64
 1   feedname        292158 non-null  object
 2   url             870207 non-null  object
 3   orig_html       576416 non-null  object
 4   title           870181 non-null  object
 5   bodytext        864187 non-null  object
 6   relevant        870207 non-null  object
 7   created         870207 non-null  object
 8   last_modified   870207 non-null  object
 9   news_source_id  870207 non-null  int64
 10  author          384897 non-null  object
dtypes: int64(2), object(9)
memory usage: 73.0+ MB

#### Coverting req columns to date type

In [78]:
# Converting last_modified and created columns to date-type
articles_df['last_modified'] = pd.to_datetime(articles_df['last_modified']).dt.tz_convert(None)
articles_df['created'] = pd.to_datetime(articles_df['created']).dt.tz_convert(None)

In [79]:
articles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 870207 entries, 0 to 870206
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              870207 non-null  int64
 1   feedname        292158 non-null  object
 2   url             870207 non-null  object
 3   orig_html       576416 non-null  object
 4   title           870181 non-null  object
 5   bodytext        864187 non-null  object
 6   relevant        870207 non-null  object
 7   created         870207 non-null  datetime64[ns]
 8   last_modified   870207 non-null  datetime64[ns]
 9   news_source_id  870207 non-null  int64
 10  author          384897 non-null  object
dtypes: datetime64[ns](2), int64(2), object(7)
memory usage: 73.0+ MB

### Sorting the data-frame based on date - Descinding Order

In [80]:
articles_df.sort_values(by="created",ascending=False,inplace=True)

In [81]:
articles_df.head()

,id,feedname,url,orig_html,title,bodytext,relevant,created,last_modified,news_source_id,author
579558,870718,NaN,https://chicago.suntimes.com/sports-saturday/2...,"<div class=""c-entry-content piano-paywall-hide...",Bulls blow late lead in Denver in another ‘sel...,Reminded before Friday night’s game against th...,t,2021-03-20 06:00:48.311261,2021-03-20 06:00:48.311277,112,Joe Cowley
579557,870717,NaN,https://chicago.suntimes.com/2021/3/20/2233747...,"<div class=""c-entry-content piano-paywall-hide...","Horoscope for Saturday, March 20, 2021",## Moon Alert\n\nThere are no restrictions to...,t,2021-03-20 06:00:46.630718,2021-03-20 06:00:46.630734,112,Georgia Nicols
579556,870716,NaN,https://chicago.suntimes.com/2021/3/20/2234147...,"<div class=""c-entry-content piano-paywall-hide...","Ayo Dosunmu, Kofi Cockburn lead balanced attac...",No drama. No upsets. No regrets.\n\nThat’s all...,t,2021-03-20 06:00:44.999491,2021-03-20 06:00:44.999506,112,Mike Berardino
579555,870715,NaN,https://chicago.suntimes.com/crime/2021/3/20/2...,"<div class=""c-entry-content piano-paywall-hide...","2 women carjacked in Bronzeville, Douglas",Two women were carjacked Wednesday in Bronzevi...,t,2021-03-20 06:00:41.733813,2021-03-20 06:00:41.733829,112,Sun-Times Wire
579554,870714,NaN,https://www.chicagonow.com/public-affairs-with...,"<div class=""post-content"">\n <p>\n <!-- wp:pa...","Berkowitz w/GOP GOV Candidate Paul Schimpf, pa...",** Schimpf indicts Governor Pritzker for overd...,t,2021-03-20 06:00:33.778225,2021-03-20 06:00:33.778241,104,Jeff Berkowitz

TRAINED CODING

Rename columns so column names are unique after merge

In [82]:
trainedcoding_df.head()

,id,date,model_info,relevance,article_id,sentiment,bin,sentiment_processed
0,1616804,2020-03-24 03:01:07.336104+00,tagnews 1.2.4,0.999997,30864,NaN,0.0,t
1,1616839,2020-03-25 03:00:32.490177+00,tagnews 1.2.4,0.999879,30899,NaN,0.0,t
2,1616842,2020-08-26 03:01:08.9806+00,tagnews 1.2.4,0.998977,30902,NaN,1.0,t
3,1616854,2020-08-26 03:01:09.418435+00,tagnews 1.2.4,0.996706,30914,NaN,1.0,t
4,1616758,2020-02-06 23:42:49.97428+00,tagnews 1.2.4,0.199123,30818,NaN,9.0,f

In [83]:
trainedcoding_df.columns = ['id', 'date', 'model_info', 'overall_relevance',
                            'article_id', 'sentiment', 'bin', 'sentiment_processed']

In [84]:
trainedcategoryrelevance_df.head()

        id  relevance  category_id  coding_id
0  4271682   0.997400           23    1703704
1  4271683   0.992532           26    1703704
2  4271684   0.969676            2    1703704
3  4271685   0.940466           17    1703704
4  4271686   0.317523            2    1703705

In [85]:
trainedcategoryrelevance_df.columns = ['id','cat_relevance','category_id','coding_id']

Replace category IDs with category titles

In [86]:
categories_df.head()

   id      title abbreviation                        created active   kind
0  15   Juvenile         JUVE  2011-08-26 20:22:06.828537+00      t  other
1  16   Re-Entry         REEN  2011-08-26 20:22:20.557875+00      t  other
2  17   Violence         VIOL  2011-08-26 20:22:33.659219+00      t  other
3  19  Probation         PROB  2011-08-26 20:23:14.245505+00      t  other
4  20     Parole         PARL  2011-08-26 20:23:20.964542+00      t  other

In [87]:
for row in categories_df.itertuples():
    trainedcategoryrelevance_df.loc[trainedcategoryrelevance_df['category_id'] == row.id,
                                    'category_id'] = row.title

In [88]:
trainedcategoryrelevance_df.head()

        id  cat_relevance                category_id  coding_id
0  4271682       0.997400     Chicago Public Schools    1703704
1  4271683       0.992532                  Homicides    1703704
2  4271684       0.969676  Chicago Police Department    1703704
3  4271685       0.940466                   Violence    1703704
4  4271686       0.317523  Chicago Police Department    1703705

Get trained codings with relevant crime categories

In [89]:
# Can drop sentiment related columns from trained coding; can drop 'id' column from categories
rel_trained_df = pd.merge(left=trainedcoding_df.drop(columns=['sentiment','bin','sentiment_processed']),
                         right=trainedcategoryrelevance_df.drop(columns=['id']),
                         left_on='id',
                         right_on='coding_id')
rel_trained_df = rel_trained_df[(rel_trained_df['cat_relevance'] >= CATEGORY_RELEVANCE_MIN)]

display(rel_trained_df.sort_values(by='article_id').head(10))

,id,date,model_info,overall_relevance,article_id,cat_relevance,category_id,coding_id
1216552,1585991,2020-02-06 23:31:57.957061+00,tagnews 1.2.4,0.978682,6,0.978682,Unspecified Crime,1585991
1216555,1585994,2020-02-06 23:31:58.015216+00,tagnews 1.2.4,0.866723,9,0.866723,Unspecified Crime,1585994
1294657,1585999,2020-11-27 03:00:59.448363+00,tagnews 1.2.4,0.934560,14,0.934560,Chicago Police Department,1585999
1216535,1586000,2020-11-27 03:00:59.967033+00,tagnews 1.2.4,0.963884,15,0.963884,Cook County Jail,1586000
1216536,1586000,2020-11-27 03:00:59.967033+00,tagnews 1.2.4,0.963884,15,0.896525,Chicago Police Department,1586000
1216571,1586002,2020-02-06 23:31:58.177057+00,tagnews 1.2.4,0.980782,17,0.980782,Unspecified Crime,1586002
1216541,1586003,2020-11-27 03:01:01.158375+00,tagnews 1.2.4,0.999992,18,0.999992,Chicago Police Department,1586003
1216542,1586003,2020-11-27 03:01:01.158375+00,tagnews 1.2.4,0.999992,18,0.940731,Beat Realignment / Police Resouce Allocation,1586003
1294417,1586006,2020-02-06 23:31:58.246797+00,tagnews 1.2.4,0.965139,21,0.965139,Fraud,1586006
1216575,1586007,2020-02-06 23:31:58.269973+00,tagnews 1.2.4,0.999863,22,0.999863,Sexual Assault,1586007

Reshape long format of categories into wide

In [90]:
rel_trained_df['category_id'] = rel_trained_df['category_id'].astype('str')
rel_trained_df = pd.pivot_table(rel_trained_df,
                                index=['overall_relevance','article_id','coding_id'],
                                values='category_id',
                                aggfunc=lambda x: ', '.join(x)).reset_index()
display(rel_trained_df.sort_values(by='article_id').head(10))

,overall_relevance,article_id,coding_id,category_id
97153,0.978682,6,1585991,Unspecified Crime
7470,0.866723,9,1585994,Unspecified Crime
46864,0.934560,14,1585999,Chicago Police Department
74748,0.963884,15,1586000,"Cook County Jail, Chicago Police Department"
101217,0.980782,17,1586002,Unspecified Crime
230293,0.999992,18,1586003,"Chicago Police Department, Beat Realignment / ..."
76300,0.965139,21,1586006,Fraud
209310,0.999863,22,1586007,Sexual Assault
200662,0.999728,25,1586010,"Unspecified Crime, Violence"
227433,0.999986,27,1586012,"Violence, Homicides"

In [91]:
# Indicate what minimum relevance cutoff was used for categories
rel_trained_df['cat_relevance_min'] = CATEGORY_RELEVANCE_MIN

display(rel_trained_df.sort_values(by='article_id').head(10))

,overall_relevance,article_id,coding_id,category_id,cat_relevance_min
97153,0.978682,6,1585991,Unspecified Crime,0.85
7470,0.866723,9,1585994,Unspecified Crime,0.85
46864,0.934560,14,1585999,Chicago Police Department,0.85
74748,0.963884,15,1586000,"Cook County Jail, Chicago Police Department",0.85
101217,0.980782,17,1586002,Unspecified Crime,0.85
230293,0.999992,18,1586003,"Chicago Police Department, Beat Realignment / ...",0.85
76300,0.965139,21,1586006,Fraud,0.85
209310,0.999863,22,1586007,Sexual Assault,0.85
200662,0.999728,25,1586010,"Unspecified Crime, Violence",0.85
227433,0.999986,27,1586012,"Violence, Homicides",0.85

Get trained location data

In [92]:
# We only want the locations indicated as is_best
best_trained_loc_df = trainedlocation_df[trainedlocation_df['is_best'] == 't']

rel_trained_loc_df = pd.merge(how='left',
                              left=rel_trained_df,
                              right=best_trained_loc_df.drop(columns=['id','neighborhood']),
                              left_on='coding_id',
                              right_on='coding_id')

display(rel_trained_loc_df.sort_values(by='article_id').head(10))

,overall_relevance,article_id,coding_id,category_id,cat_relevance_min,text,latitude,longitude,confidence,is_best
97943,0.978682,6,1585991,Unspecified Crime,0.85,NaN,NaN,NaN,NaN,NaN
7495,0.866723,9,1585994,Unspecified Crime,0.85,NaN,NaN,NaN,NaN,NaN
47176,0.934560,14,1585999,Chicago Police Department,0.85,NaN,NaN,NaN,NaN,NaN
75195,0.963884,15,1586000,"Cook County Jail, Chicago Police Department",0.85,NaN,NaN,NaN,NaN,NaN
102026,0.980782,17,1586002,Unspecified Crime,0.85,NaN,NaN,NaN,NaN,NaN
232598,0.999992,18,1586003,"Chicago Police Department, Beat Realignment / ...",0.85,NaN,NaN,NaN,NaN,NaN
76751,0.965139,21,1586006,Fraud,0.85,NaN,NaN,NaN,NaN,NaN
211335,0.999863,22,1586007,Sexual Assault,0.85,NaN,NaN,NaN,NaN,NaN
202545,0.999728,25,1586010,"Unspecified Crime, Violence",0.85,Mumbai attack. A,42.049504,-87.682052,0.919,t
229689,0.999986,27,1586012,"Violence, Homicides",0.85,NaN,NaN,NaN,NaN,NaN

Clean up dataframe

In [93]:
# Clean up columns
rel_trained_loc_df = rel_trained_loc_df.drop(['is_best','coding_id'], axis=1)
rel_trained_loc_df.rename(columns = {'confidence':'loc_confidence',
                                     'category_id':'categories',
                                     'text':'loc_text'},
                          inplace = True)
display(rel_trained_loc_df.sort_values(by='article_id').head(10))

,overall_relevance,article_id,categories,cat_relevance_min,loc_text,latitude,longitude,loc_confidence
97943,0.978682,6,Unspecified Crime,0.85,NaN,NaN,NaN,NaN
7495,0.866723,9,Unspecified Crime,0.85,NaN,NaN,NaN,NaN
47176,0.934560,14,Chicago Police Department,0.85,NaN,NaN,NaN,NaN
75195,0.963884,15,"Cook County Jail, Chicago Police Department",0.85,NaN,NaN,NaN,NaN
102026,0.980782,17,Unspecified Crime,0.85,NaN,NaN,NaN,NaN
232598,0.999992,18,"Chicago Police Department, Beat Realignment / ...",0.85,NaN,NaN,NaN,NaN
76751,0.965139,21,Fraud,0.85,NaN,NaN,NaN,NaN
211335,0.999863,22,Sexual Assault,0.85,NaN,NaN,NaN,NaN
202545,0.999728,25,"Unspecified Crime, Violence",0.85,Mumbai attack. A,42.049504,-87.682052,0.919
229689,0.999986,27,"Violence, Homicides",0.85,NaN,NaN,NaN,NaN

PREP ARTICLES

Merge news source names into articles DF

In [94]:
articles_merge_df = pd.merge(left=articles_df,
                      right=newssource_df,
                      left_on='news_source_id',
                      right_on='source_id')

In [95]:
# Can drop columns from newsource and article DFs that are no longer needed
articles_merge_df = articles_merge_df.drop(['feedname',
                                            'source_id',
                                            'legacy_feed_id',
                                            'news_source_id',
                                            'relevant',
                                            'orig_html',
                                            'bodytext'], axis=1)

In [96]:
# Reorder DF so news source name is first after id
articles_merge_df = articles_merge_df[['id','source_name','short_name','url','title',
                                       'created','last_modified','author']]

MERGE ARTICLES WITH TRAINED CODING CATEGORIES AND LOCATION

In [97]:
articles_trained_merge_df = pd.merge(left=articles_merge_df,
                                     right=rel_trained_loc_df,
                                     left_on='id',
                                     right_on='article_id')
print(articles_trained_merge_df.shape)

(248013, 16)

In [98]:
articles_trained_merge_df.tail()

,id,source_name,short_name,url,title,created,last_modified,author,overall_relevance,article_id,categories,cat_relevance_min,loc_text,latitude,longitude,loc_confidence
248008,61677,Chicago Journal,chicago-journal,http://www.chicagojournal.com/News/Crime/12-12...,Jabbed with needle on 'L' | Crime | News | Chi...,2012-12-21 16:59:08.323885,2016-07-27 01:05:09.492635,NaN,0.998648,61677,"Chicago Police Department, Violence, Sexual As...",0.85,500 block of South Michigan Ave.,41.875389,-87.62484,1.0
248009,12510,Chicago News Cooperative,chicago-news-cooperative,http://www.chicagonewscoop.org/beavers-i-paid-...,Beavers: ‘I Paid All My Taxes’,2012-02-28 00:16:30.372782,2012-11-10 21:02:35.782774,NaN,0.996127,12510,Fraud,0.85,NaN,NaN,NaN,NaN
248010,12507,Chicago News Cooperative,chicago-news-cooperative,http://www.chicagonewscoop.org/warren-loud-sch...,Warren: Loud Schools Debate Misses Mark,2012-02-28 00:16:27.258493,2013-09-03 17:07:07.625589,NaN,0.999498,12507,Chicago Public Schools,0.85,NaN,NaN,NaN,NaN
248011,12505,Chicago News Cooperative,chicago-news-cooperative,http://www.chicagonewscoop.org/homeless-immigr...,"Homeless Immigrants Alone, Adrift",2012-02-28 00:16:25.188685,2013-09-03 17:10:01.018327,NaN,0.986434,12505,Immigration,0.85,NaN,NaN,NaN,NaN
248012,12504,Chicago News Cooperative,chicago-news-cooperative,http://www.chicagonewscoop.org/warren-posner-p...,Warren: Posner Ponders Yet Again,2012-02-28 00:16:24.149505,2012-11-10 21:02:35.431678,NaN,0.951153,12504,"Chicago Police Department, Unspecified Crime",0.85,NaN,NaN,NaN,NaN

### Filtering the data frame : 2017 - Present

In [99]:
articles_df_2017_present = articles_trained_merge_df[articles_trained_merge_df['created']>datetime.datetime(2017,1,1)]

In [100]:
articles_df_2017_present.tail()

,id,source_name,short_name,url,title,created,last_modified,author,overall_relevance,article_id,categories,cat_relevance_min,loc_text,latitude,longitude,loc_confidence
244822,271771,DNAInfo Chicago,dnainfo-chicago,https://www.dnainfo.com/chicago/20170102/downt...,Backlash Against Police To Blame For Brutal 20...,2017-01-02 18:49:55.139904,2017-01-16 19:03:18.759941,NaN,0.999997,271771,"Chicago Police Department, Violence",0.85,NaN,NaN,NaN,NaN
244823,271646,DNAInfo Chicago,dnainfo-chicago,https://www.dnainfo.com/chicago/20170101/uptow...,"Shootings Kill 4 People, Wound 24 Since Saturd...",2017-01-02 00:50:04.603395,2017-01-16 01:03:34.378149,NaN,0.999986,271646,"Homicides, Gun Violence, Violence",0.85,4600 block of West Monroe Street.,41.879303,-87.740572,0.800
244824,271592,DNAInfo Chicago,dnainfo-chicago,https://www.dnainfo.com/chicago/20170101/uptow...,Two Men Fatally Shot In Uptown Identified - U...,2017-01-01 18:50:05.508174,2017-01-15 19:03:07.789009,NaN,0.999842,271592,"Gun Violence, Homicides",0.85,4600 block of North Broadway. A,41.958140,-87.657071,0.867
244825,271591,DNAInfo Chicago,dnainfo-chicago,https://www.dnainfo.com/chicago/20170101/west-...,Accused Rapist Marc Winner Involved In Dispute...,2017-01-01 18:50:04.364244,2017-01-15 19:03:07.738909,NaN,0.981288,271591,"Chicago Police Department, Sexual Assault",0.85,Loop.,41.877713,-87.626313,1.000
244826,271496,DNAInfo Chicago,dnainfo-chicago,https://www.dnainfo.com/chicago/20161231/aubur...,"Shootings Kill 3 People, Wound 8 Since Friday,...",2017-01-01 00:50:10.426879,2017-01-15 01:03:40.899802,NaN,0.999779,271496,"Gun Violence, Homicides, Robbery, Violence",0.85,8200 block of South Ingleside Avenue,41.745697,-87.601743,1.000

### Refining the data-frame

In [101]:
articles_df_2017_present = articles_df_2017_present[['source_name','short_name',
                                                 'url','title','created','last_modified',
                                                 'categories','loc_text','latitude','longitude','loc_confidence']]

In [102]:
articles_df_2017_present.head()

,source_name,short_name,url,title,created,last_modified,categories,loc_text,latitude,longitude,loc_confidence
0,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/20/2...,"2 women carjacked in Bronzeville, Douglas",2021-03-20 06:00:41.733813,2021-03-20 06:00:41.733829,"Robbery, Chicago Police Department","400 block of East 34th Street,",41.832884,-87.624138,0.8
1,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/19/2...,4-year-old boy shot in Washington Park,2021-03-20 04:00:43.541740,2021-03-20 04:00:43.541756,"Gun Violence, Violence, Juvenile","6100 block of South Michigan Avenue,",41.783631,-87.622548,1.0
2,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/19/2...,Man critically wounded in Loop stabbing,2021-03-20 04:00:42.044006,2021-03-20 04:00:42.044022,Violence,"block of East Randolph Street, Chicago",41.878970,-87.660630,0.6
3,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/19/2...,Former Portage mayor convicted for 2nd time on...,2021-03-20 02:01:27.559240,2021-03-20 02:01:27.559256,Unspecified Crime,NaN,NaN,NaN,NaN
4,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/2021/3/19/2231552...,Few arrests as thousands violate safety zones ...,2021-03-20 02:01:25.474338,2021-03-20 02:01:25.474353,Cook County Circuit Court,Street and South,41.854205,-87.778734,1.0

EXPORT

In [103]:
articles_df_2017_present.to_csv("histroical_data.csv",index=False)

In [104]:
articles_df_2017_present.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167603 entries, 0 to 244826
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   source_name     167603 non-null  object
 1   short_name      167603 non-null  object
 2   url             167603 non-null  object
 3   title           167599 non-null  object
 4   created         167603 non-null  datetime64[ns]
 5   last_modified   167603 non-null  datetime64[ns]
 6   categories      167603 non-null  object
 7   loc_text        67496 non-null   object
 8   latitude        67496 non-null   float64
 9   longitude       67496 non-null   float64
 10  loc_confidence  67496 non-null   float64
dtypes: datetime64[ns](2), float64(3), object(6)
memory usage: 15.3+ MB

### Importing Final Data to Google Sheets

In [182]:
from Google import Create_Service

In [187]:

CLIENT_SECRET_FILE = 'client_secret.json'
API_SERVICE_NAME = 'sheets'
API_VERSION = 'v4'
SCOPES = ['https://www.googleapis.com/auth/spreadsheets']
gsheetId = "1NtvBpPX0a33eZ8kNbWeJEdcnrS-ilwtl9gq8qryc44I"

service = Create_Service(CLIENT_SECRET_FILE, API_SERVICE_NAME, API_VERSION, SCOPES)

client_secret.json-sheets-v4-(['https://www.googleapis.com/auth/spreadsheets'],)
['https://www.googleapis.com/auth/spreadsheets']
Unable to connect.
name: sheets  version: v4

In [179]:
def Export_Data_To_Sheets(dataframe):
    df = dataframe
    df.replace(np.nan,'',inplace=True)
    df['created'] = df['created'].astype(str)
    df['last_modified'] = df['last_modified'].astype(str)

    response_date = service.spreadsheets().values().append(
        spreadsheetId=gsheetId,
        valueInputOption='RAW',
        range='DF1!B2',
        body=dict(
            majorDimension='ROWS',
            values=df.T.reset_index().T.values.tolist())
    ).execute()

Export_Data_To_Sheets(articles_df_2017_present)

AttributeError: 'NoneType' object has no attribute 'spreadsheets'

In [51]:
articles_df_2017_present['created'] = articles_df_2017_present['created'].astype(str)

In [50]:
articles_df_2017_present.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167603 entries, 0 to 244826
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   source_name     167603 non-null  object
 1   short_name      167603 non-null  object
 2   url             167603 non-null  object
 3   title           167603 non-null  object
 4   created         167603 non-null  object
 5   last_modified   167603 non-null  object
 6   categories      167603 non-null  object
 7   loc_text        167603 non-null  object
 8   latitude        167603 non-null  object
 9   longitude       167603 non-null  object
 10  loc_confidence  167603 non-null  object
dtypes: object(11)
memory usage: 20.3+ MB

In [110]:
articles_df_2017_present.head()

,source_name,short_name,url,title,created,last_modified,categories,loc_text,latitude,longitude,loc_confidence
0,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/20/2...,"2 women carjacked in Bronzeville, Douglas",2021-03-20 06:00:41.733813,2021-03-20 06:00:41.733829,"Robbery, Chicago Police Department","400 block of East 34th Street,",41.832884,-87.624138,0.8
1,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/19/2...,4-year-old boy shot in Washington Park,2021-03-20 04:00:43.541740,2021-03-20 04:00:43.541756,"Gun Violence, Violence, Juvenile","6100 block of South Michigan Avenue,",41.783631,-87.622548,1.0
2,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/19/2...,Man critically wounded in Loop stabbing,2021-03-20 04:00:42.044006,2021-03-20 04:00:42.044022,Violence,"block of East Randolph Street, Chicago",41.878970,-87.660630,0.6
3,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/19/2...,Former Portage mayor convicted for 2nd time on...,2021-03-20 02:01:27.559240,2021-03-20 02:01:27.559256,Unspecified Crime,NaN,NaN,NaN,NaN
4,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/2021/3/19/2231552...,Few arrests as thousands violate safety zones ...,2021-03-20 02:01:25.474338,2021-03-20 02:01:25.474353,Cook County Circuit Court,Street and South,41.854205,-87.778734,1.0

In [59]:
sample = articles_df_2017_present.head()

In [61]:
sample

,source_name,short_name,url,title,created,last_modified,categories,loc_text,latitude,longitude,loc_confidence
0,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/20/2...,"2 women carjacked in Bronzeville, Douglas",2021-03-20 06:00:41.733813,2021-03-20 06:00:41.733829,"Robbery, Chicago Police Department","400 block of East 34th Street,",41.8329,-87.6241,0.8
1,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/19/2...,4-year-old boy shot in Washington Park,2021-03-20 04:00:43.541740,2021-03-20 04:00:43.541756,"Gun Violence, Violence, Juvenile","6100 block of South Michigan Avenue,",41.7836,-87.6225,1
2,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/19/2...,Man critically wounded in Loop stabbing,2021-03-20 04:00:42.044006,2021-03-20 04:00:42.044022,Violence,"block of East Randolph Street, Chicago",41.879,-87.6606,0.6
3,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/19/2...,Former Portage mayor convicted for 2nd time on...,2021-03-20 02:01:27.559240,2021-03-20 02:01:27.559256,Unspecified Crime,,,,
4,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/2021/3/19/2231552...,Few arrests as thousands violate safety zones ...,2021-03-20 02:01:25.474338,2021-03-20 02:01:25.474353,Cook County Circuit Court,Street and South,41.8542,-87.7787,1

In [111]:
import pandas as pd
import gspread
import df2gspread as d2g

In [112]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)

In [113]:
df

   col1  col2
0     1     3
1     2     4

In [ ]:
import gspread

gc = gspread.service_account(filename='D:/practicum/Project-workk/credentials.json')

sh = gc.open("CJP-Data")

print(sh.sheet1.get('A1'))

In [123]:
gc = gspread.service_account(filename='D:/practicum/Project-workk/credentials.json')

In [129]:
from google.oauth2.service_account import Credentials

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']
credentials = Credentials.ServiceAccountCredentials.from_json_keyfile_name(
    'credentials.json', scope)
gc = gspread.authorize(credentials)

AttributeError: type object 'Credentials' has no attribute 'ServiceAccountCredentials'

In [159]:
import pandas as pd
import gspread
from gspread_dataframe import set_with_dataframe

# ACCES GOOGLE SHEET
gc = gspread.service_account(filename='D:/practicum/Project-workk/credentials.json')
sh = gc.open_by_key('1KJsxhE_e0pjOBlvGJostMJ8pKUJbLrZ-FFc2Eo2ZKXI')
worksheet = sh.get_worksheet(0) #-> 0 - first sheet, 1 - second sheet etc.

In [166]:
# APPEND DATA TO SHEET
set_with_dataframe(worksheet, articles_df_2017_present.iloc[:117603,:]) #-> THIS EXPORTS YOUR DATAFRAME TO THE GOOGLE SHEET

In [168]:
import gspread_dataframe as gd
import gspread as gs
gc = gspread.service_account(filename='D:/practicum/Project-workk/credentials.json')

def export_to_sheets(df,mode='r'):
    ws = gc.open("CJP-Data").worksheet("DF1")
    if(mode=='w'):
        ws.clear()
        gd.set_with_dataframe(worksheet=ws,dataframe=df,include_index=False,include_column_header=True,resize=True)
        return True
    elif(mode=='a'):
        ws.add_rows(df.shape[0])
        gd.set_with_dataframe(worksheet=ws,dataframe=df,include_index=False,include_column_header=False,row=ws.row_count+1,resize=False)
        return True
    else:
        return gd.get_as_dataframe(worksheet=ws)
    
export_to_sheets(articles_df_2017_present.iloc[117603:117609,:],'a')

APIError: {'code': 400, 'message': "Range ('DF1'!A167605:K167610) exceeds grid limits. Max rows: 167604, max columns: 26", 'status': 'INVALID_ARGUMENT'}

In [173]:
import gspread_dataframe as gd
import gspread as gs
gc = gspread.service_account(filename='D:/practicum/Project-workk/credentials.json')

def export_to_sheets(df,mode='r'):
    ws = gc.open("testing").worksheet("Sheet1")
    if(mode=='w'):
        ws.clear()
        gd.set_with_dataframe(worksheet=ws,dataframe=df,include_index=False,include_column_header=True,resize=True)
        return True
    elif(mode=='a'):
        ws.add_rows(df.shape[0])
        gd.set_with_dataframe(worksheet=ws,dataframe=df,include_index=False,include_column_header=False,row=ws.row_count+1,resize=False)
        return True
    else:
        return gd.get_as_dataframe(worksheet=ws)
    
export_to_sheets(articles_df_2017_present.iloc[10:20,:],'a')

APIError: {'code': 400, 'message': 'Range (Sheet1!A12:K21) exceeds grid limits. Max rows: 11, max columns: 11', 'status': 'INVALID_ARGUMENT'}

In [175]:
spreadsheetId = '1mw98qas-4GGz8TxMTayXWw21cNQpAsXEXtawBDp85kY'  # Please set the Spreadsheet ID.
sheetName = 'Sheet1'  # Please set the sheet name.

client = gspread.service_account(filename='D:/practicum/Project-workk/credentials.json')
sh = client.open_by_key(spreadsheetId)
values = articles_df_2017_present.iloc[10:20,:].values.tolist()
sh.values_append(sheetName, {'valueInputOption': 'USER_ENTERED'}, {'values': values})

TypeError: Object of type Timestamp is not JSON serializable

In [172]:
articles_df_2017_present.head(20)

,source_name,short_name,url,title,created,last_modified,categories,loc_text,latitude,longitude,loc_confidence
0,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/20/2...,"2 women carjacked in Bronzeville, Douglas",2021-03-20 06:00:41.733813,2021-03-20 06:00:41.733829,"Robbery, Chicago Police Department","400 block of East 34th Street,",41.832884,-87.624138,0.800
1,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/19/2...,4-year-old boy shot in Washington Park,2021-03-20 04:00:43.541740,2021-03-20 04:00:43.541756,"Gun Violence, Violence, Juvenile","6100 block of South Michigan Avenue,",41.783631,-87.622548,1.000
2,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/19/2...,Man critically wounded in Loop stabbing,2021-03-20 04:00:42.044006,2021-03-20 04:00:42.044022,Violence,"block of East Randolph Street, Chicago",41.878970,-87.660630,0.600
3,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/19/2...,Former Portage mayor convicted for 2nd time on...,2021-03-20 02:01:27.559240,2021-03-20 02:01:27.559256,Unspecified Crime,NaN,NaN,NaN,NaN
4,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/2021/3/19/2231552...,Few arrests as thousands violate safety zones ...,2021-03-20 02:01:25.474338,2021-03-20 02:01:25.474353,Cook County Circuit Court,Street and South,41.854205,-87.778734,1.000
5,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/2021/3/19/2231552...,Few arrests as thousands violate safety zones ...,2021-03-20 02:01:25.474338,2021-03-20 02:01:25.474353,Cook County Circuit Court,Street and South,41.854205,-87.778734,1.000
6,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/19/2...,"Man killed, 10-year-old boy and woman wounded ...",2021-03-20 02:01:20.363853,2021-03-20 02:01:20.363869,"Gun Violence, Homicides","3100 block of West Lake Street, Chicago",41.883815,-87.699309,1.000
7,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/education/2021/3/...,CPS extends deadline for parents to opt studen...,2021-03-20 02:01:17.335986,2021-03-20 02:01:17.336001,Chicago Public Schools,NaN,NaN,NaN,NaN
8,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/2021/3/19/2234098...,Man charged with reckless homicide in fatal Oc...,2021-03-20 00:00:48.552122,2021-03-20 00:00:48.552139,Unspecified Crime,NaN,NaN,NaN,NaN
9,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/cubs/2021/3/19/22...,Jake Arrieta rounding into form with regular s...,2021-03-20 00:00:42.577329,2021-03-20 00:00:42.577347,Unspecified Crime,NaN,NaN,NaN,NaN
10,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/19/2...,$1K reward offered in shooting of off-duty CPD...,2021-03-19 22:00:58.654816,2021-03-19 22:00:58.654830,Gun Violence,89th Street and Stony Island Avenue,41.732900,-87.584745,0.919
11,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/2021/3/19/2234054...,Slain spa worker toiled tirelessly to support ...,2021-03-19 20:01:02.882880,2021-03-19 20:01:02.882898,"Homicides, Gun Violence",NaN,NaN,NaN,NaN
12,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/2021/3/19/2234026...,Suspect sought in Riverside bank robbery,2021-03-19 18:01:18.586288,2021-03-19 18:01:18.586305,Robbery,NaN,NaN,NaN,NaN
13,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/education/2021/3/...,73% of students who opted in now showing up fo...,2021-03-19 18:01:10.939712,2021-03-19 18:01:10.939730,Chicago Public Schools,NaN,NaN,NaN,NaN
14,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/entertainment-and...,Nostalgia fuels interest in classic TV comedie...,2021-03-19 18:01:09.678292,2021-03-19 18:01:09.678310,"Homicides, Unspecified Crime",NaN,NaN,NaN,NaN
15,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/19/2...,Delivery driver carjacked in Bronzeville,2021-03-19 16:01:08.482463,2021-03-19 16:01:08.482479,Robbery,4000 block of South Calumet Avenue. As,41.821824,-87.618767,0.500
16,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/2021/3/19/2234014...,"Judge limits evidence, refuses to move trial i...",2021-03-19 16:01:03.721187,2021-03-19 16:01:03.721203,Homicides,NaN,NaN,NaN,NaN
17,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/crime/2021/3/19/2...,Armored truck crew shoots robbery suspect at N...,2021-03-19 16:01:02.056247,2021-03-19 16:01:02.056265,"Gun Violence, Robbery",North Austin neighborhood. An,42.053279,-88.110941,0.740
18,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/2021/3/19/2234015...,Samia Suluhu Hassan becomes Tanzania’s first w...,2021-03-19 16:01:00.772947,2021-03-19 16:01:00.772964,Gun Violence,NaN,NaN,NaN,NaN
19,Chicago Sun-Times,chicago-sun-times,https://chicago.suntimes.com/entertainment-and...,John Wayne Gacy: the never-ending aftermath of...,2021-03-19 12:01:08.934039,2021-03-19 12:01:08.934056,Unspecified Crime,NaN,NaN,NaN,NaN

In [ ]:
117603:11760